body  {
    background-color: #271f1f;
    color: #2c2323de;
    padding: 0;
    margin: 0;
    display: flex column;
    align-items: center;
    margin: 50px 10vw;
    font-family: 'DM Sans', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.content {
    width: 100%;
    min-height: 100vh;
    background-color: #ffe9d4;
    box-shadow: 0 0 15px #ffe9d435;
    border-radius: 20px;
}

.hidden {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.show {
    opacity: 1;
}


