* {
    scroll-behavior: smooth;
}

body {
    background-color: #271f1f;
    color: #2c2323de;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin: 50px 15vw;
    font-family: 'DM Sans', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content {
    width: 100%;
    background-color: #ffe9d4;
    box-shadow: 0 0 15px #ffe9d435;
    transition: all 1s ease-in;
    border-radius: 2px;
    padding: 20px;
    gap: 40px;
}

.roundCorners {
    border-radius: 20px;
}

/* Slide in animations */

@keyframes slide-left {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes slide-right {
    0% {
        right: -100%
    }

    100% {
        right: 0;
    }
}

.slide-left {
    animation: slide-left 1s ease;
}

.slide-right {
    animation: slide-right 1s ease;
}

/* About page */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-left {
    position: relative;
}

.title-right {
    position: relative;
}

.about p {
    position: relative;
    max-width: 600px;
    padding: 0 20px;
    margin-top: -5px;
}

.about img {
    width: 175px;
}

.profilePicture {
    border: 5px solid #271f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px #271f1f70;
}

.languages {
    margin: 10px 0 0 0;
    opacity: 90%
}

a {
    color: #271f1f;
}

/* Project Page */

.projectContainer {
    display: flex column;
}

.project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;

}

.project img {
    width: 150px
}

.project p {
    font-size: 14px;
    text-align: start;
    max-width: 500px;
}

/* Skills Page */

.skills ol {
    text-align: start;    
}


.emojis {
    font-size: 40px;
}

.blurred {
    filter: blur(2px);
    transition: all 1s ease;
}

.blurred:hover {
    filter: blur(0px);
}

/* Styles for future */

.future p {
    max-width: 600px;
}

/* Styles to hide and show */
.hidden {
    opacity: 0;
    transition: opacity 1s ease-in;
    text-align: center;
}


.show {
    opacity: 1;
}